/*Personalized Styling for IEEE Academic website*/

/* Adapting Bootstrap fluid to FullScreen */
.IEEEsites{
	background-color: rgb(171,171,171);
	color: black	;
	text-align: center;
}
.IEEEsites a{
	color: #5a5a5a;
}

.container-fluid{
	padding: 0px;
}

.content{
	margin-top: 55%;
}

.content-local{
}

.footer{
	background-image: linear-gradient(bottom, rgb(50,51,51) 38%, rgb(41,41,41) 69%, rgb(36,36,36) 85%);
	background-image: -o-linear-gradient(bottom, rgb(50,51,51) 38%, rgb(41,41,41) 69%, rgb(36,36,36) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(50,51,51) 38%, rgb(41,41,41) 69%, rgb(36,36,36) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(50,51,51) 38%, rgb(41,41,41) 69%, rgb(36,36,36) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(50,51,51) 38%, rgb(41,41,41) 69%, rgb(36,36,36) 85%);
	text-align: center;
	margin-top: 20px;	
}

.footer h2{
	color:  rgb(234,197,57);

}
 
.footerlink a{

	color:white;
}

/*------------------------*/
/* IEEE ACADEMIC HERO UNIT */
.jumboIndex{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-top: 20px;
	position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    color:white;
    margin-top: 20px;
}

.jumboLocal{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-top: 20px;
    top: 0;
    z-index: 1;
    padding-bottom: 5px;
}


.jumboContent{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-top: 20px;
	color:white;
    width: 100%;
}


.navbar-text{
	margin-top: 6px;
	margin-bottom: 6px;
}

.navbar-brand{
	font-size: 22px;

}



.lead{
	margin-top: 4%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-top: 2px;
	font-size: 28px;

}

#highlights{
	text-align: center;
	margin-top: 6%;
	color: white;

}

#highlights-local{
	text-align: center;
	margin-bottom: 6%;
}

#globalHeader{
	background-image: url('../img/backgrounds/global.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 100%;
}

#globalHeader-local{
	background-image: url('../img/backgrounds/local.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 100%;
}

#menuLogo{
	text-align: left;
	margin-bottom: 30px;
}

#navigationMenu{
	float: right;
	margin-top: 20px;
}

/* Text Hightlights */
#UniversityCount, #CountryCount, #VideoModulesCount, #LanguagesCount{
	color:  rgb(234,197,57);
}

/* Search Bar */
#searchText{
	font-size: 24px;
	height: 40px;
	width: 900px;	
}

/*Yellow Line hack*/
hr 
{	
border:none;	
border-top:2px rgb(234,197,57) solid;
height: 2px;
position: absolute;
}


.nav-tabs-global > li >  a {
color: white;
}

.nav-tabs-global > li >  a {
color: white;
}

.nav-tabs-global > li >  a:hover {
color: #333333;
}

.nav-tabs-local > li >  a {
color: #333333;
}

.hrPortugal{
	border:none;	
	border-top:2px rgb(132,181,78) solid;
	height: 2px;
	position: absolute;

}

div[data-toggle="collapse"] {
    float: left;
}

.chapter{
	padding-left: 20px;

}

.video{

padding-left: 0px;

}

.videoWell{

padding: 0px;

}

.notesWell{
background-color: #E7E7E7;

}

.initiativeWell{

margin-top: 20px;
margin-right: 20px !important;
padding-top: 0px;
padding-bottom: 20px;
}

.videoDesc{
	margin-top: 0px;

}