/*Personalized Styling for IEEE Academic website*/

/* Adapting Bootstrap fluid to FullScreen */
.row-fluid{
	text-align: center;
}

.container-fluid{
	padding: 0px;
}

/*------------------------*/
/* IEEE ACADEMIC HERO UNIT */
.hero-unit{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-top: 20px;
}

/*.hero-unit h1,h2 ,h5 {
	color: white;
}*/

.lead{
	margin-top: 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-top: 2px;

}


.globalHeader{
	background-image: url('../img/backgrounds/global.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.globalHeader h1, h2,h5, p{
	color: white;
}
.localHeader{
	background-image: url('../img/backgrounds/local.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.menuLogo{
	text-align: left;
	margin-bottom: 30px;
}

#navigationMenu{
	float: right;
	margin-top: 20px;
}

/* Text Hightlights */
#UniversityCount, #CountryCount, #VideoModulesCount, #LanguagesCount{
	color: yellow;
}

/* Search Bar */
#searchText{
	font-size: 18px;
	height: 30px;
	margin-left: 30px;	
}

/*Yellow Line hack*/
hr 
{	
border:none;	
border-top:1px yellow solid;
height: 1px;
}
.hr{
border:none;	
border-top:1px green solid;
height: 1px;
}
h3{
	text-align: left;
	line-height: 0em;
}
.li{
	color:white;
}
/*------------------------*/
/* Other Stuff*/

.button{
	background-color: #2E2E2E;
}
.linkButton{
	color: green; 
}

.localLinkButton{
	background-color: #2E2E2E;
}
.localLinkButton a{
	color: yellow;
}

.filters{
	background-color: #A4A4A4;
	width:200px;
};
.filters input{
	margin-left: -20px;
	color: black;
}
.lessonTitles{
	text-align: left;
}
.accordion-group{
	background-color: #848484;
}
.accordionButton{
	background-color: #BDBDBD;
}
.accordionButton a{
	color: black;
}